@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   color: #fff;
   background: linear-gradient(to right, #000f58, #000624);
   /* background: bg-gradient-to-b from-blue-80 to-white; */
}

@layer base {
   :root {
      --radius: 0.5rem;
   }
}